@import "~font-awesome/css/font-awesome.css";

.w-100 {
  width: 22rem;
}

.sticky-form {
  position: sticky;
  top: 0px;
}

@media (max-width: 768px) {
  .br-sm {
    border-radius: 0.5rem;
  }

  .sticky-form {
    position: unset;
  }
}
